body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: cadetblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar img {
    float: left;
    padding: 10px 12px;
}
.navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: pink;
    color: black;
}

.main {
    margin: 0;
    padding: 0;
}

.main .header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main .tentang {
    width: 100%;
    height: 480px;
    text-align: ceter;
    background-color: #E8F9FD;
}

.main .galeri {
    width: 100%;
    height: 480px;
    text-align: ceter;
    background-color: ghostwhite;
}

.main .kontak {
    width: 100%;
    height: 480px;
    text-align: ceter;
    background-color: #FFDDEE;
}

.footer {
    background: rgb(33, 38, 72);
    color: gainsboro;
    text-align: center;
    padding: 10px;
  }