body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: cadetblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar img {
    float: left;
    padding: 10px 12px;
}

.navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: pink;
    color: black;
}

.main {
    margin: 0;
    padding: 0;
}

.main .header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main .tentang {
    width: 100%;
    height: 480px;
    text-align: ceter;
    background-color: #E8F9FD;
}

.tentang .konten {
    padding: 5%;
}

.tentang .konten img {
    float: left;
    width: 25%;
    margin-left: 10%;
    border-style: solid;
    border-color: yellowgreen;
}

.tentang .konten h1 {
    float: left;
    width: 53%;
    margin-left: 5%;
    margin-right: 5%;
    color: #205375;
}

.konten .login {
    float: left;
    width: 50%;
    margin-left: 5%;
}

.login b {
    margin: 10px;
}

.login input {
    color: grey;
    width: 50%;
    padding: 5px;
    padding-left: 10px;
}

.login .button {
    width: 10%;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #79DAE8;
    margin-left: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tentang .konten p {
    float: left;
    width: 53%;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    color: #205375;
    font-size: large;
}

.main .galeri {
    width: 100%;
    height: 480px;
    text-align: ceter;
    background-color: ghostwhite;
}

.galeri .foto {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 120px;
}
  
.galeri .foto:hover {
    border: 1px solid #777;
  }
  
.galeri .foto img {
    width: 100%;
    height: 100%;
  }
  
.galeri .desc {
    padding: 15px;
    text-align: center;
}

.galeri .konten {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    width: 80%;
}

.main .kontak {
    width: 100%;
    height: 320px;
    text-align: ceter;
    background-color: #FFDDEE;
}

.kontak .konten {
    padding: 5%;
}

.konten .info {
    float: left;
    width: 25%;
    padding-left: 10%;
}

.konten .logo {
    float: right;
    width: 25%;
}

.konten .logo img {
    border-style: solid;
    border-color: yellowgreen;
}

.footer {
    background: rgb(33, 38, 72);
    color: gainsboro;
    text-align: center;
    padding: 10px;
}